<div class="container news-container">
    <div class="row">
        <div class="col-12 sub-title text-center">
          <h4>Current Affairs</h4>
          <div class="h-line"></div>
        </div>
    </div>
    <div class="row">
        <mat-form-field>
            <mat-select [(ngModel)]="type" placeholder="News Type">
              <mat-option *ngFor="let newsType of newsTypes" [value]="newsType.type">
                {{newsType.type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <app-date-range [from]="defaultFrom" [to]="defaultTo" (dateRangeSelection)="onDateRangeSelection($event)"></app-date-range>
        <button (click)="newsFilter()" mat-button>Filter</button>
    </div>
    <mat-tab-group>
        <mat-tab label="Today's News"> <mat-accordion>
            <mat-expansion-panel *ngFor="let item of news">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{item.title}}
                </mat-panel-title>
                <div class="text-right">
                <mat-panel-description>
                    {{item.intger}} {{item.date | date: 'dd/MM/yyyy'}}
                </mat-panel-description>
                </div>
              </mat-expansion-panel-header>
              <h5>{{item.subtitle}}</h5>
              <p innerHTML="{{item.content}}"></p>
              <ul>
                <li *ngFor="let temp of item.contentList">{{temp}}</li>
              </ul>
              <h5>{{item.subTitleOne}}</h5>
              <p>{{item.contentOne}}</p>
              <ul>
                  <li *ngFor="let temp of item.contentListOne">{{temp}}</li>
                </ul>
              <h5>{{item.subTitletwo}}</h5>
              <p>{{item.contentTwo}}</p>
              <ul>
                  <li *ngFor="let temp of item.contentListTwo">{{temp}}</li>
                </ul>
            </mat-expansion-panel>
          </mat-accordion> </mat-tab>
        <mat-tab label="Questionare"> <mat-accordion>
            <mat-expansion-panel *ngFor="let item of questions; let i = index">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{i+1}}). {{item.question}}
                </mat-panel-title>
                <div class="text-right">
                  <mat-panel-description>
                  </mat-panel-description>
                </div>
              </mat-expansion-panel-header>
              <ol type="A"><li *ngFor="let item of item.options">{{item}}</ol>
              <div>Answer:{{item.answer}}</div>
              Explaination:{{item.explanation}}
            </mat-expansion-panel>
          </mat-accordion> </mat-tab>
      </mat-tab-group>
  </div>  