

<div class="container">
    <mat-tab-group  #tabGroup (selectedIndexChange)="loadDynamicContent($event)"> 
           <!--<h4>GEOGRAPHY OPTIONAL</h4>-->

          <mat-tab label="GEOGRAPHY">
              <div class="container">
                <div class="row">
                    <div class="col-12 sub-title text-center">
                      <h4>GEOGRAPHY OPTIONAL</h4>
                      <div class="h-line"></div>
                    </div>
                  </div>
                </div>

                <mat-form-field class="gridSearch">
                    <input matInput (keyup)="applyGeoFilter($event.target.value)" placeholder="Search by any Word">
                  </mat-form-field>

                  <div class="mat-elevation-z8">
                     <!-- <mat-paginator [pageSizeOptions]="[1, 50, 100, 200]" showFirstLastButtons> </mat-paginator>  -->
                     <mat-paginator #geopaginator
                      [pageSize]="20"
                      [pageSizeOptions]="[1, 2, 3, 5, 10, 25, 50]"
                      showFirstLastButtons>
                      </mat-paginator>

                    <table mat-table #sortCol1geo="matSort" [dataSource]="GeotabledataSource" matSort>
                      
                    <!-- Position Column -->
                    <ng-container matColumnDef="Question">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Question </th>
                      <!-- <td mat-cell *matCellDef="let element"> {{element.Question}} </td> -->
                      <td mat-cell *matCellDef="let element"> <div [innerHTML]=element.Question></div></td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="Year">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
                      <!-- <td mat-cell *matCellDef="let element"> {{element.Year}} </td> -->
                      <td mat-cell *matCellDef="let element"><div [innerHTML]=element.Year></div></td>
                    </ng-container>
                  
                 
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                  </table>
                  
                
                </div>

            </mat-tab> 
            <!--<h4>GEOGRAPHY OPTIONAL END-->



              <!--HISTORY OPTIONAL -->

         <mat-tab label="HISTORY">
            <div class="container">
              <div class="row">
                  <div class="col-12 sub-title text-center">
                    <h4>HISTORY OPTIONAL</h4>
                    <div class="h-line"></div>
                  </div>
                </div>
              </div>

                

                <mat-form-field class="gridSearch">
                    <input matInput (keyup)="applyHisFilter($event.target.value)"  placeholder="Search by any Word">
                  </mat-form-field>

                   
                  <div class="mat-elevation-z8">
                      <!-- <mat-paginator  [pageSizeOptions]="[2, 100, 200, 1000]" showFirstLastButtons> </mat-paginator>  -->
                      <mat-paginator #hispaginator
                      [pageSize]="20"
                      [pageSizeOptions]="[1, 2, 3, 5, 10, 25, 50]"
                      showFirstLastButtons>
                      </mat-paginator>

                      <table mat-table #sortCol2his="matSort" [dataSource]="HistabledataSource" matSort> 
                      
                    <!-- Position Column -->
                    <ng-container matColumnDef="Question">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Question </th>
                      <!-- <td mat-cell *matCellDef="let element"> {{element.Question}} </td> -->
                      <td mat-cell *matCellDef="let element"> <div [innerHTML]=element.Question></div></td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="Year">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
                      <!-- <td mat-cell *matCellDef="let element"> {{element.Year}} </td> -->
                      <td mat-cell *matCellDef="let element"> <div [innerHTML]=element.Year></div></td>
                    </ng-container>
                  
                 
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                  </table>
                  
                </div>
    
  
             </mat-tab>
             <!--HISTORY OPTIONAL END-->


             <!--PUB AD-->

             <mat-tab label="PUB AD">
                <div class="container">
                  <div class="row">
                      <div class="col-12 sub-title text-center">
                        <h4>PUBLIC ADMINISTRATION OPTIONAL</h4>
                        <div class="h-line"></div>
                      </div>
                    </div>
                  </div>
                    <mat-form-field class="gridSearch">
                      <input matInput (keyup)="applyPubAdFilter($event.target.value)" placeholder="Search by any Word">
                    </mat-form-field>
  
                     
                    <div class="mat-elevation-z8">
                        <!-- <mat-paginator [pageSizeOptions]="[3, 10, 40, 60]" showFirstLastButtons></mat-paginator> -->
                        <mat-paginator #pubadpaginator
                        [pageSize]="20"
                        [pageSizeOptions]="[1, 2, 3, 5, 10, 25, 50]"
                        showFirstLastButtons>
                        </mat-paginator>

                        <table mat-table #sortCol3pubad="matSort" [dataSource]="PubadtabledataSource" matSort>
                        
                     
                      <ng-container matColumnDef="Question">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Question </th>
                        <!-- <td mat-cell *matCellDef="let element"> {{element.Question}} </td> -->
                        <td mat-cell *matCellDef="let element"> <div [innerHTML]=element.Question></div></td>
                      </ng-container>
                    
                      
                      <ng-container matColumnDef="Year">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
                        <!-- <td mat-cell *matCellDef="let element"> {{element.Year}} </td> -->
                        <td mat-cell *matCellDef="let element"> <div [innerHTML]=element.Year></div></td>

                      </ng-container>
                    
                   
                    
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                    </table>
                    
                  </div>
  
          
                 </mat-tab>  
                 <!--PUB AD END-->
  
                   <!--SOCIOLOGY OPTIONAL -->
               <mat-tab label="SOCIOLOGY">
                <div class="container">
                  <div class="row">
                      <div class="col-12 sub-title text-center">
                        <h4>SOCIOLOGY OPTIONAL</h4>
                        <div class="h-line"></div>
                      </div>
                    </div>
                  </div>
                    <mat-form-field class="gridSearch">
                        <input matInput (keyup)="applySocioFilter($event.target.value)" placeholder="Search by any Word">
                      </mat-form-field>
                      <!-- <mat-paginator [pageSizeOptions]="[4, 20, 40, 60]" showFirstLastButtons></mat-paginator>  -->
                      <div class="mat-elevation-z8">
                      <mat-paginator #sociopaginator
                      [pageSize]="20"
                      [pageSizeOptions]="[1, 2, 3, 5, 10, 25, 50]"
                      showFirstLastButtons>
                      </mat-paginator>

                      
                        <table mat-table #sortCol4Socio="matSort" [dataSource]="SociotabledataSource" matSort>
                          
                        
                        <ng-container matColumnDef="Question">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Question </th>
                          <!-- <td mat-cell *matCellDef="let element"> {{element.Question}} </td> -->
                          <td mat-cell *matCellDef="let element"> <div [innerHTML]=element.Question></div></td>
                        </ng-container>
                      
                        
                        <ng-container matColumnDef="Year">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
                          <!-- <td mat-cell *matCellDef="let element"> {{element.Year}} </td> -->
                          <td mat-cell *matCellDef="let element"> <div [innerHTML]=element.Year></div></td>
                        </ng-container>
                      
                     
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                      </table>
                      
                    </div>
                    
                         
          
                 </mat-tab> <!--SOCIOLOGY OPTIONAL END-->
   
                    <!--POLITICAL SCIENCE OPTIONAL -->
               <mat-tab label="POL SCI">
                <div class="container">
                  <div class="row">
                      <div class="col-12 sub-title text-center">
                        <h4>POLITICAL SCIENCE OPTIONAL</h4>
                        <div class="h-line"></div>
                      </div>
                    </div>
                  </div>
                    <mat-form-field class="gridSearch">
                        <input matInput (keyup)="applyPolSciFilter($event.target.value)" placeholder="Search by any Word"> 
                        
                      </mat-form-field>
  
                      <!-- <mat-paginator [pageSizeOptions]="[5, 20, 40, 60]" showFirstLastButtons></mat-paginator> -->
                      <div class="mat-elevation-z8">
                      <mat-paginator #polscipaginator
                        [pageSize]="20"
                        [pageSizeOptions]="[1, 2, 3, 5, 10, 25, 50]"
                        showFirstLastButtons>
                        </mat-paginator>


                     
                        <table mat-table #sortCol5PolSci="matSort" [dataSource]="polscidataSource" matSort>
                          
                        
                        <ng-container matColumnDef="Question">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Question </th>
                          <!-- <td mat-cell *matCellDef="let element"> {{element.Question}} </td> -->
                          <td mat-cell *matCellDef="let element"> <div [innerHTML]=element.Question></div></td>
                        </ng-container>
                      
                        
                        <ng-container matColumnDef="Year">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
                          <!-- <td mat-cell *matCellDef="let element"> {{element.Year}} </td> -->
                          <td mat-cell *matCellDef="let element"> <div [innerHTML]=element.Year></div></td>
                        </ng-container>
                      
                     
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                      </table>
                      
                    </div>
  
                  
                 </mat-tab> <!--POLITICAL SCIENCE OPTIONAL END-->

                      


      </mat-tab-group>
    </div>
  
 
    
   

