mat-form-field{
    padding: 15px;
}

.badge-info{
    padding: 10px;
    text-align: center;
}

button {
    color: #fff;
    background-color: #fb641b;
    width: 7rem;
    max-height: 2.5rem;
}

.action-block{
    border: solid 2px grey;
    margin: 30px;
}
.questionContainer {
    border: 1px solid;
    padding: 10px;
    margin: 10px 0px;
}
.options {
    padding: 10px 20px;
}