.input-full-width, .mat-form-field-flex {
    width:400px;
}
button{
    color: #fff;
    background-color: #fb641b;
    width: 250px;
}
.contact-container{
    padding: 30px;
}
.h-line{
    border-bottom: 3px solid #ef534e;
    width: 5rem;
    margin: 0 auto;
    padding-top: 0.20rem;
  }
  .h-linebig{
    border-bottom: 3px solid #ef534e;
    width: 8rem;
    margin: 0 auto;
    padding-top: 0.30rem;
  }