<div class="container">
<div class="row mainContent">
	<!-- <div class="bannerbg col-md-12">
		<div class="container">
			<div class="col-md-6">
			</div>
			<div class="col-md-6">
			</div>
		</div>
	</div> -->
	<div class="inner-div col-md-12">
    	<div class="container">
    		<div class="inner-heading">
    			<h2>About Us<span class="undescore"></span></h2>
    		</div>
    		<div class="inner-text">
    			<p>'Ind Alternatives' committed to provide easy online solutions for students who prepare for 
					competitive exams.					 </p>
    		</div>
    	</div>
    </div>
   <!-- <div class="container">    			
    			<div class="col-md-4 col-sm-4">
    				<div class="stat-des-hr">
    					<div class="stat-img">
	    				</div>
	    				<div class="stat-des">
	    					<p>2.2 lakhs Hours</p>
	    				</div>
    				</div>
    			</div>
    			<div class="col-md-4 col-sm-4">
    				<div class="stat-des-test">
    					<div class="stat-img">
	    				</div>
	    				<div class="stat-des">
	    					<p>44+ Test</p>
	    				</div>
    				</div>
    			</div>
    			<div class="col-md-4 col-sm-4">
    				<div class="stat-des-qtn">
    					<div class="stat-img">
	    				</div>
	    				<div class="stat-des">
	    					<p>4100+ Questions</p>
	    				</div>
    				</div>
    			</div>
    		</div> -->
</div>
</div>