.bannerbg {
    background-image: url(/assets/images/About-Banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    height:300px;
}
.inner-heading h2{
	color: #666;
    font-size: 1.5rem;
    font-weight: 600;
}
.mainContent .container{
	margin-top: 25px;
}
.stat-des-hr .stat-img {
    background: #00c064 url(/assets/images/images/Hours_H.png) no-repeat scroll center center;
    border: 8px solid #14d478;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    margin: 0 auto;
}
.stat-des-test .stat-img {
    background: #f6ba48 url(/assets/images/Test_H.png) no-repeat scroll center center;
    border: 8px solid #ffd260;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    margin: 0 auto;
}
.stat-des-qtn .stat-img {
    background: #1f7cd0 url(/assets/images/Questions_H.png) no-repeat scroll center center;
    border: 8px solid #3c99ed;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    margin: 0 auto;
}
.col-md-4.col-sm-4{
	float:left;
}
.stat-des p{
	color: #393939;
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
}

.mainContent p{
    text-align: justify;
}