<div class="container">
  <mat-tab-group  #tabGroup (selectedIndexChange)="loadDynamicContent($event)"> 

<!--GENERAL STUDIES I BEGINS-->
       <mat-tab label="GENERAL STUDIES I">
             <div class="container">
              <div class="row">
                  <div class="col-12 sub-title text-center">
                    <h4>GENERAL STUDIES - I  </h4>
                    <div class="h-line"></div>
                  </div>
                </div>
              </div> 

              <mat-form-field class="gridSearch">
                  <input matInput (keyup)="applygs1Filter($event.target.value)" placeholder="Search by any Word">
                </mat-form-field>

                <div class="mat-elevation-z8">
                   <mat-paginator #gs1paginator
                    [pageSize]="10"
                    [pageSizeOptions]="[1, 2, 3, 5, 10, 25, 50]"
                    showFirstLastButtons>
                    </mat-paginator>

                  <table mat-table #sortCol1gs1="matSort" [dataSource]="gs1tabledataSource" matSort>
                    
                  <!-- Position Column -->
                  <ng-container matColumnDef="Question">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Question </th>
                    <!-- <td mat-cell *matCellDef="let element"> {{element.Question}} </td> -->
                    <td mat-cell *matCellDef="let element"> <div [innerHTML]=element.Question></div></td>
                        
                  </ng-container>
                
                  <!-- Name Column -->
                  <ng-container matColumnDef="Year">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
                    <!-- <td mat-cell *matCellDef="let element"> {{element.Year}} </td> -->
                    <td mat-cell *matCellDef="let element"> <div [innerHTML]=element.Year></div></td>
                        
                  </ng-container>
                
               
                
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                </table>
                
              
              </div>

          </mat-tab> 
<!--GENERAL STUDIES I ENDS-->






<!--GENERAL STUDIES II BEGIN -->
       <mat-tab label="GENERAL STUDIES II">
          <div class="container">
            <div class="row">
                <div class="col-12 sub-title text-center">
                  <h4>GENERAL STUDIES - II </h4>
                  <div class="h-line"></div>
                </div>
              </div>
            </div>

              

              <mat-form-field class="gridSearch">
                  <input matInput (keyup)="applygs2Filter($event.target.value)"  placeholder="Search by any Word">
                </mat-form-field>

                 
                <div class="mat-elevation-z8">
                    <mat-paginator #gs2paginator
                    [pageSize]="10"
                    [pageSizeOptions]="[1, 2, 3, 5, 10, 25, 50]"
                    showFirstLastButtons>
                    </mat-paginator>

                    <table mat-table #sortCol2gs2="matSort" [dataSource]="gs2tabledataSource" matSort> 
                    
               
                  <ng-container matColumnDef="Question">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Question </th>
                    <!-- <td mat-cell *matCellDef="let element"> {{element.Question}} </td> -->
                    <td mat-cell *matCellDef="let element"> <div [innerHTML]=element.Question></div></td>
                        
                  </ng-container>
                
                 
                  <ng-container matColumnDef="Year">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
                    <!-- <td mat-cell *matCellDef="let element"> {{element.Year}} </td> -->
                    <td mat-cell *matCellDef="let element"> <div [innerHTML]=element.Year></div></td>
                        
                  </ng-container>
                
               
                
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                </table>
                
              </div>
  

           </mat-tab>
<!--GENERAL STUDIES II END-->




<!--GENERAL STUDIES III BEGIN-->

           <mat-tab label="GENERAL STUDIES III">
              <div class="container">
                <div class="row">
                    <div class="col-12 sub-title text-center">
                      <h4>GENERAL STUDIES - III </h4>
                      <div class="h-line"></div>
                    </div>
                  </div>
                </div>
                  <mat-form-field class="gridSearch"> 
                    <input matInput (keyup)="applygs3Filter($event.target.value)" placeholder="Search by any Word">
                  </mat-form-field>

                   
                  <div class="mat-elevation-z8">
                      <mat-paginator #gs3paginator
                      [pageSize]="10"
                      [pageSizeOptions]="[1, 2, 3, 5, 10, 25, 50]"
                      showFirstLastButtons>
                      </mat-paginator>

                      <table mat-table #sortCol3gs3="matSort" [dataSource]="gs3tabledataSource" matSort>
                      
                   
                    <ng-container matColumnDef="Question">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Question </th>
                      <!-- <td mat-cell *matCellDef="let element"> {{element.Question}} </td> -->
                      <td mat-cell *matCellDef="let element"> <div [innerHTML]=element.Question></div></td>
                        
                    </ng-container>
                  
                    
                    <ng-container matColumnDef="Year">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
                      <!-- <td mat-cell *matCellDef="let element"> {{element.Year}} </td> -->
                      <td mat-cell *matCellDef="let element"> <div [innerHTML]=element.Year></div></td>
                        
                    </ng-container>
                  
                 
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                  </table>
                  
                </div>

        
               </mat-tab>                 
<!--GENERAL STUDIES III END-->




<!--GENERAL STUDIES IV BEGINS-->
             <mat-tab label="GENERAL STUDIES IV">
              <div class="container">
                <div class="row">
                    <div class="col-12 sub-title text-center">
                      <h4>GENERAL STUDIES - IV </h4>
                      <div class="h-line"></div>
                    </div>
                  </div>
                </div>
                  <mat-form-field class="gridSearch">
                      <input matInput (keyup)="applygs4Filter($event.target.value)" placeholder="Search by any Word">
                    </mat-form-field>
                    <mat-paginator #gs4paginator
                    [pageSize]="10"
                    [pageSizeOptions]="[1, 2, 3, 5, 10, 25, 50]"
                    showFirstLastButtons>
                    </mat-paginator>

                    <div class="mat-elevation-z8">
                      <table mat-table #sortCol4gs4="matSort" [dataSource]="gs4tabledataSource" matSort>
                        
                      
                      <ng-container matColumnDef="Question">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Question </th>
                        <!-- <td mat-cell *matCellDef="let element"> {{element.Question}} </td> -->
                        <td mat-cell *matCellDef="let element"> <div [innerHTML]=element.Question></div></td>
                        
                      </ng-container>
                    
                      
                      <ng-container matColumnDef="Year">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
                        <!-- <td mat-cell *matCellDef="let element"> {{element.Year}} </td> -->
                        <td mat-cell *matCellDef="let element"> <div [innerHTML]=element.Year></div></td>
                        
                      </ng-container>
                    
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                    </table>
                    
                  </div>
                  
                       
        
               </mat-tab> 
<!--GENERAL STUDIES IV END-->
 
  

    </mat-tab-group>
  </div>


  
 

