<!-- <div class="row header-block">
  <div class="col-md-4">
   <a class="logo" [routerLink]="['/home']" rel="home" title="INSIGHTS | Home page"><img src="../assets/images/best-ias-coaching-insights-delhi.gif" alt="INSIGHTS"></a>
  <h2>India Alternatives</h2>
  </div>
  <div class="col-md-8 text-right">
    <div class="top-number-mail"><i class="gdlr-icon icon-phone fa fa-phone" style="font-size: 14px; "></i> 9818333201 | <i class="gdlr-icon icon-envelope fa fa-envelope" style="font-size: 14px; "></i> info@insightiasacademy.com</div>
    <div class="top-number-mail">
      <span class="user-info" *ngIf="auth.isLoggedIn()"> Welcome <strong>{{ auth.getUserDetails()?.name }} </strong></span>
          <i class="gdlr-icon icon-phone fa fa-phone" style="font-size: 14px; "></i> <a [routerLink]="['/contact-us']"> Contact Us</a>
          <button *ngIf="!auth.isLoggedIn()" mat-button (click)="openLoginRegister(loginRegister)">Login/Register</button>
          <button *ngIf="auth.isLoggedIn()" mat-button (click)="auth.logout()">Logout</button>
    </div>
  </div>
 </div> -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
      
    <span class="example-spacer"></span>
    <div class="pull-right">
        <!-- <button [routerLink]="['/home']" mat-button>Home</button> -->
        <button [routerLink]="['/home']" mat-button>Home</button> <!--This is Frontpagecomponent-->
        <button [routerLink]="['/about-us']" mat-button>About Us</button>
        <!-- <button [routerLink]="['/current-affairs']" mat-button>Current Affairs</button> -->
        <!-- <button [routerLink]="['/courses']" mat-button>Courses</button>
        <button [routerLink]="['/schedule']" mat-button>Schedules</button> -->
        <!-- <button [routerLink]="['/quiz']" mat-button>Quiz</button> -->
        <!-- <button [routerLink]="['/ca-admin']" mat-button>CA Admin</button> -->
        <!-- <button [routerLink]="['/history']" mat-button>History</button>         -->
        <button [routerLink]="['/prelims']" mat-button>Prelims</button>
        <button [routerLink]="['/generalstudies']" mat-button>General Studies</button>
        <button [routerLink]="['/optionals']" mat-button>Optionals</button>
        <button [routerLink]="['/essay']" mat-button>Essay</button>
        <!-- <button [routerLink]="['/foldersearch']" mat-button>DocSearch</button> -->
        <!-- <button [routerLink]="['/projectsop']" mat-button>Requirements</button> -->
        
    
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">
    Ind Alt
  </a>

  <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item" (click)="clickMobileMenuItem()">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li> -->
      <li class="nav-item" (click)="clickMobileMenuItem()">
          <a class="nav-link" [routerLink]="['/home']">Home</a>
        </li>
      

      <li class="nav-item" (click)="clickMobileMenuItem()">
        <a class="nav-link" [routerLink]="['/about-us']">About Us</a>
      </li>

      <!-- <li class="nav-item" (click)="clickMobileMenuItem()">
          <a class="nav-link" [routerLink]="['/current-affairs']">Current Affairs</a>
        </li> -->
  
        <!-- <li class="nav-item" (click)="clickMobileMenuItem()">
            <a class="nav-link" [routerLink]="['/quiz']">Quiz</a>
        </li> -->

        <!-- <li class="nav-item" (click)="clickMobileMenuItem()">
            <a class="nav-link" [routerLink]="['/ca-admin']">CCA Admin</a>
          </li> -->
    
          <!-- <li class="nav-item" (click)="clickMobileMenuItem()">
            <a class="nav-link" [routerLink]="['/history']">History</a>
          </li> -->

          <li class="nav-item" (click)="clickMobileMenuItem()">
              <a class="nav-link"[routerLink]="['/prelims']">Prelims</a>
            </li>
      

          <li class="nav-item" (click)="clickMobileMenuItem()">
              <a class="nav-link"[routerLink]="['/generalstudies']">General Studies</a>
            </li>
      
            <li class="nav-item" (click)="clickMobileMenuItem()">
                <a class="nav-link"[routerLink]="['/optionals']">Optionals</a>
            </li>
    
            <li class="nav-item" (click)="clickMobileMenuItem()">
                <a class="nav-link" [routerLink]="['/essay']">Essays</a>
              </li>
        
            
    </ul>
  </div>
</nav>
<ng-template #loginRegister let-c="close" let-d="dismiss">
    <div class="modal-header text-center">
      <h4>Login</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <app-login></app-login>
    </div>
  </ng-template>