.sidenav-container {
  height: 100%;
}
.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}
.mat-toolbar.mat-primary{
  /* background: #333; */
  background: #3f51b5;
}
.logo img{
  width: 70%;
}
.header-block{
  padding: 15px;
  margin: 0px;
}
.user-info{
  padding-right: 1.5em;
}

.navbar{
  display:none;
}

.bg-dark {
  /* background: #333 !important; */
  background: #3f51b5 !important;
}
@media (max-width: 992px){
  .mat-toolbar{
    display:none;
  }
  .navbar{
    display:block;
    text-align: right;
  }
  .navbar-collapse{
    text-align: center;
  }
  /* .bg-dark {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  } */
  .navbar-dark .navbar-nav .nav-link {
    color: #fff;
  } 
    a.navbar-brand {
      color: #fff !important;
      font-weight: bold;
      font-size: 22px;
      text-transform: uppercase;
      margin-right: 25%;
  
  }
}