<mat-sidenav-container>
<div class="left-sidebar-container">
	<div class="left-sidebar">
		<ul class="nav nav-list primary left-menu" >
			<li class="historyTopic" [class.open]="classToAplly" *ngFor="let item of leftSideNavList" [ngClass]="(item.hasChildrens=='yes')?'hasChildrens':''" >
        <a [routerLink]="[item.componentRoutePath]" (click)="componentClickHandler($event)"><span>{{item.name}}</span></a>
        <ul>
            <li *ngFor="let subItem of item.data"><a [routerLink]="[subItem.componentRoutePath]"><span>{{subItem.name}}</span></a></li>
          </ul>
        </li>
		</ul>
	</div>
</div> 
</mat-sidenav-container>
