<div class="login-container" *ngIf="isRegister;else login_content">
    <form [formGroup]="rForm" (ngSubmit)="register(rForm)">
            <mat-form-field class="input-full-width">
                <input formControlName="name" matInput placeholder="Full Name" [type]="text">
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <input formControlName="email" matInput placeholder="Email-Id" [type]="email">
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <input formControlName="password" matInput placeholder="Password" [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
           <!-- <mat-form-field class="input-full-width">
                <input formControlName="mobile" matInput placeholder=" Mobile Number" type="number" class="example-right-align">
                <span matPrefix>+91</span>
            </mat-form-field> -->
            <div *ngIf="submitted && rForm.invalid" class="text-center error-msg">
                    Please fill all required fields
            </div>
            <div class="text-center">
                <div class="action-item">
                    <button mat-button>Register!</button>
                </div>
               <!-- <button mat-button [disabled]="!rForm.valid">Register!</button> -->
               <div class="action-item">
                   <a class="action-link" (click)="loginRegisterSwap()"><span> Existing User? Log In</span></a>
                </div>
            </div>
    </form>
</div>

<ng-template #login_content>
    <div class="login-container">
        <form [formGroup]="lForm" (ngSubmit)="login(lForm)">
            <mat-form-field class="input-full-width">
                <input formControlName="email" matInput placeholder="Email/Mobile No" [type]="text">
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <input formControlName="password" matInput placeholder="Password" [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <div class="text-center">
                    <div class="action-item">
                        <button mat-button>Login!</button>
                    </div>
                    <div class="action-item">
                        <a class="action-link" (click)="loginRegisterSwap()"><span> Not Insight User? Register Now</span></a>
                    </div>
                </div>
        </form>
</div>
</ng-template>