.login-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  display: block;
  padding: 20px;
}
.input-full-width, .mat-form-field-flex {
    width:400px;
}
input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}
button{
    color: #fff;
    background-color: #fb641b;
    width: 250px;
}
.action-link{
    color: #2874f0 !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    width: 250px;
    padding: 10px 20px;
}
.action-item{
    padding: 10px;
}
.mat-button[disabled]{
    background: #e6f0f5b6;
}