.container{
	margin-top: 25px;
}
i.fa.fa-info-circle{
    margin: 20px;
}
.inner-banner img{
	display: block;
    max-width: 100%;
    height: auto;
}
.container h2{
	color: #666;
    font-size: 1.5rem;
    font-weight: 600;
}
button{
    color: #fff;
    background-color: #fb641b;
    width: 12rem;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.schedule-table .table tr {
    border: 1px solid #7f1416;
}
.schedule-table .table th {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    background: #7f1416;
}
.schedule-table .table td {
    padding-top: 30px;
    border: 1px solid #7f1416;
    background: #fff;
}
.schedule-table .table thead tr th:last-child{
	width:20%;
}
.clr1td img {
    margin: 0 auto;
}
.clr1td p {
    padding-top: 10px;
}
.clr1td {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}
.clr2td {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}