<div class="container">
    <div class="row">
        <div class="col-12 sub-title text-center">
          <h4>Schedules</h4>
          <div class="h-line"></div>
        </div>
      </div>
    <ag-grid-angular #agGrid style="width: 100%; height: 500px;" (cellClicked)="handleDetails($event)" (gridReady)="onGridReady($event)" class="ag-theme-balham grid-block" [gridOptions]="gridOptions">
    </ag-grid-angular>
</div>
<ng-template #scheduleDetails let-c="close" let-d="dismiss">
    <div class="modal-header text-center">
        <h4>{{courseData.courseName}}</h4>
      <a class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </a>
    </div>
    <div class="modal-body">
        <div class="container">
          <div class="text-center course-info">
            {{courseData.expertFaculty}} | {{courseData.duration}} | Rs.{{courseData.courseFee}}
          </div>
          <p>{{courseData.description}}</p>
          <ul><li *ngFor="let item of courseData.subDescription">{{item}}</li></ul>
            
          </div>
      </div>
      <div class="modal-footer">
          <div class="action-item text-center">
              <button mat-button>Schedule Now</button>
        </div>
      </div>
  </ng-template>
