<!--Added for new Front page on Nov 20, 2018 - START-->
<!-- <div class="container"> -->
<header class="docs-header-background">
    <div class="docs-header-section">
        <div class="docs-header-headline">
            <h1 class="mat-h1">Online  Material</h1>
            <h2> IAS Online Material</h2>
        </div>
            <div class="docs-header-start">
                <a class="docs-button mat-raised-button" mat-raised-button="" [routerLink]="['/quotes']" tabindex="0" aria-disabled="false" [routerLink]="['/QuotesComponent']">
                    <span class="mat-button-wrapper">Get Started</span>
                    <div class="mat-button-ripple mat-ripple" matripple=""></div>
                    <div class="mat-button-focus-overlay"></div>
                </a>
                                        
        </div>
                
    </div>
</header>



<div class="docs-component-category-list">

    <!-- <div class="docs-header-start">
        <a class="docs-button mat-raised-button" mat-raised-button="" [routerLink]="['/essay']" tabindex="0" aria-disabled="false" [routerLink]="['/FrontpageComponent']">
            <span class="mat-button-wrapper">ESSAY</span>
            <div class="mat-button-ripple mat-ripple" matripple=""></div>
            <div class="mat-button-focus-overlay"></div>
            </a>
            
                                
    </div>
    <br>
    <div class="docs-header-start">
        <a class="docs-button mat-raised-button" mat-raised-button="" [routerLink]="['/essay']" tabindex="0" aria-disabled="false" [routerLink]="['/FrontpageComponent']">
            <span class="mat-button-wrapper">GS PAER I</span>
            <div class="mat-button-ripple mat-ripple" matripple=""></div>
            <div class="mat-button-focus-overlay"></div>
            </a>
                                
    </div>
    <br>
    <div class="docs-header-start">
        <a class="docs-button mat-raised-button" mat-raised-button="" [routerLink]="['/essay']" tabindex="0" aria-disabled="false" [routerLink]="['/FrontpageComponent']">
            <span class="mat-button-wrapper">GS PAER II</span>
            <div class="mat-button-ripple mat-ripple" matripple=""></div>
            <div class="mat-button-focus-overlay"></div>
            </a>
                                
    </div> -->


    
    <a class="docs-component-category-list-item ng-star-inserted"  [routerLink]="['/prelims']" tabindex="0" aria-disabled="false">
        <mat-card _ngcontent-c15="" class="docs-component-category-list-card mat-card">
            <mat-card-title _ngcontent-c15="" class="mat-card-title">
                    PRELIMS
            </mat-card-title>
            <mat-card-content _ngcontent-c15="" class="docs-component-category-list-card-summary mat-card-content">
                Prelims for Civil Services Examination
            </mat-card-content>
        </mat-card>
    </a>

    <a class="docs-component-category-list-item ng-star-inserted"  [routerLink]="['/generalstudies']" tabindex="0" aria-disabled="false">
        <mat-card _ngcontent-c15="" class="docs-component-category-list-card mat-card">
            <mat-card-title _ngcontent-c15="" class="mat-card-title">
                    GENERAL STUDIES
            </mat-card-title>
            <mat-card-content _ngcontent-c15="" class="docs-component-category-list-card-summary mat-card-content">
                General Studies for Civil Services Examination
            </mat-card-content>
        </mat-card>
    </a>




    <a class="docs-component-category-list-item ng-star-inserted" [routerLink]="['/optionals']" tabindex="0" aria-disabled="false">
        <mat-card _ngcontent-c15="" class="docs-component-category-list-card mat-card">
            <mat-card-title _ngcontent-c15="" class="mat-card-title">
                    OPTIONALS
            </mat-card-title>
            <mat-card-content _ngcontent-c15="" class="docs-component-category-list-card-summary mat-card-content">
                optionals for Civil Services Examination
            </mat-card-content>
        </mat-card>
    </a>

      <a class="docs-component-category-list-item ng-star-inserted"  [routerLink]="['/essay']" tabindex="0" aria-disabled="false" >
        <mat-card _ngcontent-c15="" class="docs-component-category-list-card mat-card">
            <mat-card-title _ngcontent-c15="" class="mat-card-title">
                ESSAY
            </mat-card-title>
            <mat-card-content _ngcontent-c15="" class="docs-component-category-list-card-summary mat-card-content">
                Essay for Civil Services Examination
            </mat-card-content>
        </mat-card>
    </a>

    <!-- <a class="docs-component-category-list-item ng-star-inserted"  [routerLink]="['/quiz']" tabindex="0" aria-disabled="false" >
        <mat-card _ngcontent-c15="" class="docs-component-category-list-card mat-card">
            <mat-card-title _ngcontent-c15="" class="mat-card-title">
                QUIZ
            </mat-card-title>
            <mat-card-content _ngcontent-c15="" class="docs-component-category-list-card-summary mat-card-content">
                Quiz for Civil Services Examination
            </mat-card-content>
        </mat-card>
    </a>
                                 -->
</div>
<div class="container-fluid text-center youtube-video" style="background-color:#3f51b5;">
    <div class="row">
        <div class="col-md-4 col-xs-6 white">
            <div class="heading" >Indian Administrative Service</div>
            <p>The Indian Administrative Service is the premier administrative civil service of the Government of India.</p>
        </div>
        <div class="col-md-8 col-xs-10 homepageYoutube">
            <iframe src="https://www.youtube.com/embed/MFJD0knLohA?autoplay=0&rel=0&enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

<!-- <div class="container">
    <p>What is IAS Exam?</p>
    <p>Indian Administrative Service (IAS) was formerly known as Imperial Civil Service (ICS) 
        is the Civil Services Examination and one of the toughest competitive exams in India. 
        It is conducted by the Union Public Service Commission for the recruitment of officers 
        for the All India Administrative Civil Service.
    </p>
    <p>The Indian Administrative Service is the premier administrative civil service of the Government of India. 
    Hierarchy-wise, IAS is the highest administrative post among the 24 services like IPS, IFS etc. 
    Commonly known as the IAS exam, officially it is called as Civil Services Examination (CSE),
    which is conducted every year by the Union Public Service Commission (UPSC). </p>
    <p>IAS is the permanent bureaucracy in India and forms a part of the executive branch. 
        It is one of the three All India Services, its cadre can be employed by both the Union Government, 
        the State Governments and public-sector undertakings. Indian Administrative Service (IAS) has been 
        termed as one of the prestigious services among the 24 government services like IPS, IFS (Foreign),
        IFS (Forest), IP &amp; TAFS, IAAS, IRS, IDAS, CMSE, IRTS, IRAS, IRPS, ITS, CAPF-AF to name a few. 
        All these examinations are conducted by UPSC in the form of Civil Services Examination (CSE) for 
        selecting the appropriate candidates for the jobs. </p>
    <p>Every year lakhs of candidates appear for this examination, testing their lucks and hard work to get
        through one of these prestigious posts. It is important to mention that any officer selected into 
        the IAS can be employed by Union government, State governments and/or public-sector undertakings and 
        gets exposure in numerous job roles like the collector, head of public sector units, commissioner, 
        chief secretary, cabinet secretary to name a few. </p>
    <p>When on deputation outside India, 
    the IAS officer can be engaged in inter-governmental organizations like the 
    International Monetary Fund (IMF), World Bank (WB), the Asian Infrastructure Investment Bank (AIIB),
    the United Nations (UN), or its agencies and the Asian Development Bank (ADB) to name a few. 
    It is very important for aspirants to know and understand the requirements of the examination
    such as the UPSC&nbsp; IAS syllabus, pattern, eligibility criteria, 
    application procedure and other such significant details before kick-starting the registrations.
    </p>

</div> -->
<!-- </div> -->
    <!--Added for new Front page on Nov 20, 2018 - END-->