/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
$color-orange: #fb641b;
$color-green: #00FF00;
$color-blue: #0000FF;

body { margin: 0; }

p, div,span {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}
.grid-block span,.grid-block div{
    font-size: 0.8rem;
}
.ag-theme-balham .ag-root {
    border: 1px solid #f9f3f3;
}
.ag-theme-balham .ag-header {
    background-color: #ef534e !important;
    color: white !important;
    border-bottom: 1px solid #ef534e;
}
.mat-expansion-panel-spacing {
    margin: 0px !important;
}
mat-expansion-panel-header span, .mat-tab-label-active {
    font-weight: 600;
}
mat-panel-title.mat-expansion-panel-header-title, .mat-expansion-indicator::after {
    color: #ef534e;
}
.sub-title{
    padding: 15px;
}
.grid-block{
    padding:20px 0px;
}
.carousel-item img{
    height: 470px;
}
.course-info{
    color: #ef534e;
    padding-bottom: 20px;
    font-size: 1.1rem;
    font-weight: 600;
}
.carousel-control-prev-icon{
    background-image: url('/assets/icons/icons8-chevron-left-filled-50.png') !important;
 }
 .carousel-control-next-icon{
   background-image: url('/assets/icons/icons8-chevron-right-filled-50.png') !important;
 }
 .carousel-control-next-icon, .carousel-control-prev-icon{
    width: 50px !important;
    height: 50px !important;
 }
.header-line{
    border-bottom: 3px solid #ef534e;
    width: 100px;
    margin: 0 auto;
}
.modal-header h4{
    width:100%
}
input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}
.mat-button[disabled]{
    background: #e6f0f5;
}
.mat-tab-header.mat-tab-header{
    margin-bottom: 2rem;
}
.error-msg{
    font-weight: 600;
    color: #f44336;
}
.h-line{
    border-bottom: 3px solid #ef534e;
    width: 100px;
    margin: 0 auto;
  }

.padding20{
    padding: 2rem;
}
.padding10{
    padding: 1em;
}
.mat-toolbar-row{
    height: 50px !important;
}
.mat-toolbar-multiple-rows {
    min-height: 50px !important;
}


/* On mouse-over, add a deeper shadow */
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 0.3s;
    width: 260px;
    min-height: 370px;
    display: inline-block;  
    cursor:pointer;
    color: #666;
    margin: 30px 0px;
  }
.card:hover {
    box-shadow: 0 8px 16px 4px rgba(0, 0, 0, 0.2);
    transform: translate3d(0, -5px, -5px);
    transition-duration: 0.3s;
    cursor:pointer;
  }
  .card-content h5{
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    min-height: 2.5rem;
  }
  .card-content p{
    font-size: .8rem;
  }
  .card-hr{
    border-top: 2px solid rgba(0,0,0,.1);
    margin-top: 1rem;
  }
  .card-footer-content p{
    margin-bottom: 0 !important;
  }
  .card-footer-content p:first-child{
    text-decoration: line-through;
    font-size: .7rem;
  }
  .card-footer-content p:last-child{
    color: #2dbaaa !important;
    font-weight: 600 !important;
    font-size: 1.2rem !important;
    line-height: .7;
  }
  .card-title{
    color: #666;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .banner-img{
    width: 259px;
    height: 160px;
  }
  .offer-text{
    background-color: transparent;
    text-align: center;
    border-radius: 2px;
    padding: 8px;
    border: 1px solid #e0e0e0;
    line-height: 1;
    width: 83px;
    color: #ef534e !important;
  }

  footer{
    float:left;
    width: 100%;
    margin-top: 50px;
}
  /*history*/

  .history-data{
    width:52%;
    float:left;
    margin:10px;
}
.mat-sort-header-arrow{
    opacity: 1 !important;
}
.mat-elevation-z8{
    margin: 5px;
}
span.questionText {
    width: 98%;
    float: left;
}
span.questionNo{
    width: 2%;
    float: left;
}
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type{
    padding: 15px !important;
}
td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding: 15px !important;
}
.mat-sort-header-button{
    padding-top:5px !important;
}
my-nav+*+*>div {
    margin-top: 50px;
}
my-nav {
    width: 100%;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.container.ng-star-inserted {
    padding-left: 0;
    margin-bottom:15px;
}
.mat-table thead tr th button {
    font-size: 20px;
    font-weight: 600;
}
.mat-table tr th:first-child .mat-sort-header-container{
    width: 0;
    margin: 0 auto;
}
.mat-table td {
    word-break:break-word;
    text-align: justify;
}
.mat-paginator {
    float: left;
    width: 100%;
    clear: both;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.showMobileMenu{
    width:100% !important;
    position: fixed;
    z-index: 1;
    height: 250px;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.tableSearch{
    border-radius: 20px;
    word-wrap: break-word;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    padding: 5px 10px;
    outline: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    height:44px;
    font: 16px arial,sans-serif;
    border: 0;
    margin-left: 5px;
}
.highlight { 
    background: yellow 
}
.scrollBtn{
    right:5px;
    bottom:10px;
    position: fixed;
    z-index: 999;
    background-color: #ef534e !important;
    border-color: #ef534e !important;
}
// body{
//     background: url('/assets/images/hero.jpg') no-repeat center;
//     background-size: cover;
// }
app-about-us+button+app-footer>footer {
    float: left;
    width: 100%;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
}
@media screen and (max-width: 992px) and (min-width: 667px)  {
    .mat-table tr th:first-child .mat-sort-header-container {
        width: 20% !important;
    }
}
@media (max-width: 992px){
    .mat-expansion-panel{
        padding :30px;
    }
    .container{
        padding-right: 10px;
        padding-left: 10px;
    }
    span.questionText {
        width: 95%;
    }
    span.questionNo {
        width: 5%;
    }
    .mat-paginator-range-actions{
        width: 64%;
        float: right;
        margin-top: 16px;
    }
    .mat-paginator-container{
        display:unset !important;
    }
    .mat-paginator-range-actions{
        float: left;
         margin-top: -10px;
         width: 62%;
    }
    .mat-paginator-page-size{
        float:left;
        width:35%;
    }
    .mat-paginator-range-label {
        margin: 0 0px 0 10px !important;
    }
    .mat-icon-button{
        width:25px !important;
    }
    .mat-paginator-range-label {
        font-size: 14px;
    }
    
    .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
        z-index: 1;
    }
    .mat-table tr th:first-child .mat-sort-header-container {
        width: 35%;
    }
    ul.footer-menu>li {
        width: 50% !important;
    }
    
}